Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

ruff:
  name: Ruff Linter
  description: Run ruff checks on the code
  entry: ruff check --force-exclude
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-ruff:
  name: Ruff Formatter
  description: Ruf ruff auto-formatter
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: Pyright
  description: Run pyright type checker
  entry: pyright
  language: system
  pass_filenames: false

uv-lockfile:
  name: UV Lockfile
  description: Check if the UV lockfile is up to date with pyproject.toml
  entry: uv lock --check
  language: system
  pass_filenames: false

`Calling XTransformer directly` -> `XTransformer (called directly)`
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Document MOTD transformers (#1096)
  docs/api/motd_parsing.rst
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Always pattern-match on exception messages in tests
  tests/motd/test_components.py
  tests/motd/test_motd.py
  tests/protocol/test_connection.py
  tests/test_address.py
  tests/test_async_pinger.py
  tests/test_cli.py
  tests/test_legacy_status.py
  tests/test_pinger.py
  tests/test_server.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright

Fix CI
  mcstatus/legacy_status.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Always pattern-match on exception messages in tests (#1104)
  mcstatus/legacy_status.py
  tests/motd/test_components.py
  tests/motd/test_motd.py
  tests/protocol/test_connection.py
  tests/test_address.py
  tests/test_async_pinger.py
  tests/test_cli.py
  tests/test_legacy_status.py
  tests/test_pinger.py
  tests/test_server.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright

Select all rules for Ruff
  pyproject.toml
Due: uv-lockfile

Sort imports
  docs/conf.py
  docs/examples/code/ping_as_java_and_bedrock_in_one_time.py
  mcstatus/__main__.py
  mcstatus/pinger.py
  mcstatus/protocol/connection.py
  mcstatus/utils/__init__.py
  mcstatus/utils/deprecation.py
  mcstatus/utils/general.py
  mcstatus/utils/retry.py
  tests/test_cli.py
  tests/test_legacy_status.py
  tests/test_server.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Other automatic fixes
  mcstatus/__main__.py
  mcstatus/dns.py
  mcstatus/forge_data.py
  mcstatus/legacy_status.py
  mcstatus/motd/__init__.py
  mcstatus/pinger.py
  mcstatus/protocol/connection.py
  mcstatus/responses.py
  mcstatus/utils/general.py
  mcstatus/utils/retry.py
  tests/motd/test_transformers.py
  tests/responses/__init__.py
  tests/responses/conftest.py
  tests/test_address.py
  tests/test_cli.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright

Move import into a type-checking block
  mcstatus/__main__.py
  mcstatus/address.py
  mcstatus/bedrock_status.py
  mcstatus/dns.py
  mcstatus/motd/simplifies.py
  mcstatus/motd/transformers.py
  mcstatus/pinger.py
  mcstatus/protocol/connection.py
  mcstatus/querier.py
  mcstatus/server.py
  mcstatus/utils/deprecation.py
  mcstatus/utils/retry.py
  tests/motd/test_transformers.py
  tests/responses/__init__.py
  tests/responses/conftest.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Provide correct arguments to `@pytest.mark.parametrize`
  tests/motd/test_components.py
  tests/motd/test_motd.py
  tests/motd/test_simplifies.py
  tests/protocol/test_connection.py
  tests/responses/test_bedrock.py
  tests/test_address.py
  tests/utils/test_general.py
Due: ruff, ruff-ruff, pyright

Grammatic-related fixes
  docs/conf.py
  docs/examples/code/ping_as_java_and_bedrock_in_one_time.py
  mcstatus/__main__.py
  mcstatus/address.py
  mcstatus/dns.py
  mcstatus/motd/__init__.py
  mcstatus/pinger.py
  mcstatus/protocol/connection.py
  mcstatus/responses.py
  mcstatus/server.py
  mcstatus/utils/general.py
  mcstatus/utils/retry.py
  tests/motd/conftest.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

Catch specific error in `type: ignore`
  mcstatus/motd/__init__.py
  mcstatus/utils/retry.py
  tests/motd/test_simplifies.py
  tests/responses/__init__.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_query.py
  tests/responses/test_shared.py
Due: ruff, ruff-ruff, pyright

`from pytest import ...` -> `import pytest`
  tests/responses/test_bedrock.py
  tests/responses/test_legacy.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

Other manual fixes
  docs/conf.py
  docs/examples/code/ping_as_java_and_bedrock_in_one_time.py
  mcstatus/__main__.py
  mcstatus/address.py
  mcstatus/forge_data.py
  mcstatus/motd/__init__.py
  mcstatus/motd/transformers.py
  mcstatus/protocol/connection.py
  mcstatus/server.py
  mcstatus/utils/deprecation.py
  mcstatus/utils/retry.py
  tests/motd/test_simplifies.py
  tests/motd/test_transformers.py
  tests/responses/__init__.py
  tests/responses/conftest.py
  tests/responses/test_shared.py
  tests/test_server.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Disallow implicit string concatenation
  mcstatus/__main__.py
  mcstatus/address.py
  pyproject.toml
  tests/motd/test_transformers.py
  tests/responses/test_forge_data.py
  tests/test_async_pinger.py
  tests/test_async_querier.py
  tests/test_bedrock_status.py
  tests/test_cli.py
  tests/test_pinger.py
  tests/test_querier.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Explicitly state our versioning guarantees
  docs/index.rst
  docs/pages/versioning.rst
Due: none

Revert ruff update
  pyproject.toml
  uv.lock
Due: uv-lockfile

Ignore D413
  mcstatus/motd/__init__.py
  mcstatus/responses.py
  mcstatus/utils/general.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Apply some code suggestions
  pyproject.toml
Due: uv-lockfile

Update ruff to 0.15.0
  pyproject.toml
  tests/test_async_pinger.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Enable `RUF012`
  mcstatus/motd/transformers.py
  pyproject.toml
  tests/responses/__init__.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_legacy.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Type annotate `*args`, `**kwargs`
  mcstatus/protocol/connection.py
  mcstatus/responses.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

fixup! Explicitly state our versioning guarantees
  docs/pages/versioning.rst
Due: none

fixup! Remove init deprecations from transformer classes
  docs/pages/versioning.rst
Due: none

Enable `PLR09` and increase amount of allowed max arguments
  pyproject.toml
Due: uv-lockfile

Enable `A`
  mcstatus/motd/components.py
  pyproject.toml
  tests/motd/test_components.py
  tests/motd/test_motd.py
  tests/test_timeout.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Explicitly state our versioning guarantees (#1105)
  docs/index.rst
  docs/pages/versioning.rst
Due: none

Make protocol's `BaseRead.read` parameters positional only
  mcstatus/protocol/connection.py
Due: ruff, ruff-ruff, pyright

Apply code suggestion
  mcstatus/protocol/connection.py
Due: ruff, ruff-ruff, pyright

`type: ignore` -> `pyright: ignore`
  mcstatus/motd/__init__.py
  mcstatus/protocol/connection.py
  mcstatus/utils/retry.py
  pyproject.toml
  tests/motd/test_motd.py
  tests/motd/test_simplifies.py
  tests/protocol/test_connection.py
  tests/responses/__init__.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_legacy.py
  tests/responses/test_query.py
  tests/responses/test_shared.py
  tests/test_async_pinger.py
  tests/test_async_querier.py
  tests/test_pinger.py
  tests/test_querier.py
  tests/test_session_id.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Revert "Disallow implicit string concatenation"
  mcstatus/__main__.py
  mcstatus/address.py
  pyproject.toml
  tests/motd/test_transformers.py
  tests/responses/test_forge_data.py
  tests/test_async_pinger.py
  tests/test_async_querier.py
  tests/test_bedrock_status.py
  tests/test_cli.py
  tests/test_pinger.py
  tests/test_querier.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Fix indent
  tests/test_async_pinger.py
Due: ruff, ruff-ruff, pyright

Document forge response classes
  docs/api/basic.rst
  mcstatus/forge_data.py
Due: ruff, ruff-ruff, pyright

Document forge response classes (#1109)
  docs/api/basic.rst
  mcstatus/forge_data.py
Due: ruff, ruff-ruff, pyright

Enable "Unnecessary assignment to a variable before `return` statement"
  mcstatus/dns.py
  mcstatus/server.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Path conditions:
  ruff: any of: \.py$
  ruff-ruff: any of: \.py$
  pyright: any of: \.py$
  uv-lockfile: any of: ^pyproject\.toml$|^uv\.lock$
