Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

ruff:
  name: Ruff Linter
  description: Run ruff checks on the code
  entry: ruff check --force-exclude
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-ruff:
  name: Ruff Formatter
  description: Ruf ruff auto-formatter
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: Pyright
  description: Run pyright type checker
  entry: pyright
  language: system
  pass_filenames: false

uv-lockfile:
  name: UV Lockfile
  description: Check if the UV lockfile is up to date with pyproject.toml
  entry: uv lock --check
  language: system
  pass_filenames: false

Replace `dependabot` with `renovate` in the CI
  .github/workflows/renovate-auto-approve.yml
Due: none

Delete .github/workflows/renovate-auto-approve.yml
  .github/workflows/renovate-auto-approve.yml
Due: none

Small fixes
  .github/renovate.json5
Due: none

Enable `lockFileMaintenance`
  .github/renovate.json5
Due: none

Fix typos in renovate config
  .github/renovate.json5
Due: none

Exclude sphinx bump
  pyproject.toml
  uv.lock
Due: uv-lockfile

Prefix unused variable with `_`
  mcstatus/protocol/connection.py
Due: ruff, ruff-ruff, pyright

Make documentation a separate workspace
  docs/pyproject.toml
  pyproject.toml
  uv.lock
Due: uv-lockfile

Make documentation a separate workspace (#1089)
  docs/pyproject.toml
  pyproject.toml
  uv.lock
Due: uv-lockfile

Add support for new bedrock colors
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/motd/transformers.py
  tests/motd/conftest.py
  tests/motd/test_motd.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Use standard way for updating dicts
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

Document MOTD transformers
  docs/api/motd_parsing.rst
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

HTML MOTD transformer: replace new lines with `<br>`
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

HTML MOTD transformer: replace new lines with `<br>` (#1097)
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Make transformers a private API
  docs/api/motd_parsing.rst
  mcstatus/motd/__init__.py
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

Properly deprecate the breaking change in AnsiTransformer
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Remove testing direct usage of transformers
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Use versions instead of dates in deprecation messages
  mcstatus/responses.py
  mcstatus/status_response.py
Due: ruff, ruff-ruff, pyright

Use versions instead of dates in deprecation messages (#1098)
  mcstatus/responses.py
  mcstatus/status_response.py
Due: ruff, ruff-ruff, pyright

Add support for new bedrock colors (#1094)
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/motd/transformers.py
  tests/motd/conftest.py
  tests/motd/test_motd.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Apply review suggestions
  mcstatus/motd/__init__.py
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

Deprecate calling transformers directly
  mcstatus/motd/__init__.py
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Also deprecate default value for bedrock in HtmlTransformer
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Motd.to_ansi: move `seealso` directive a few lines down
  mcstatus/motd/__init__.py
Due: ruff, ruff-ruff, pyright

Schedule removal of deprecates in 13.0
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

Document extra arguments in `status`, `ping`, `query` methods
  mcstatus/pinger.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Also document `tries` argument
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Set default value of `ServerPinger.ping_token` to None
  mcstatus/pinger.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Don't set default for client version
  mcstatus/pinger.py
Due: ruff, ruff-ruff, pyright

Modularize utils and improve deprecation handling
  mcstatus/motd/transformers.py
  mcstatus/responses.py
  mcstatus/status_response.py
  mcstatus/utils.py
  mcstatus/utils/__init__.py
  mcstatus/utils/deprecation.py
  mcstatus/utils/general.py
  mcstatus/utils/retry.py
  pyproject.toml
  tests/motd/test_transformers.py
  tests/responses/test_shared.py
  tests/test_deprecated_decorator.py
  tests/utils/__init__.py
  tests/utils/test_deprecation.py
  tests/utils/test_general.py
  tests/utils/test_retry.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Drop packaging dependency and parse PEP 440 manually
  mcstatus/utils/deprecation.py
  pyproject.toml
  tests/utils/test_deprecation.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Add tests for version parsing
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Avoid kwargs entirely
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Document extra arguments in status, ping, query methods (#1101)
  mcstatus/pinger.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Drop `bedrock` argument deprecation
  mcstatus/motd/transformers.py
Due: ruff, ruff-ruff, pyright

Fix tests
  mcstatus/motd/transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-ruff: any of: \.py$
  pyright: any of: \.py$
  uv-lockfile: any of: ^pyproject\.toml$|^uv\.lock$
