Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml # For pyproject.toml
      - id: check-yaml # For workflows
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml

  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        description: Run ruff checks on the code
        entry: ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: ruff-ruff
        name: Ruff Formatter
        description: Ruf ruff auto-formatter
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: pyright
        name: Pyright
        description: Run pyright type checker
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false # pyright runs for the entire project, it can't run for single files

  - repo: local
    hooks:
      - id: uv-lockfile
        name: UV Lockfile
        description: Check if the UV lockfile is up to date with pyproject.toml
        entry: uv lock --check
        language: system
        files: '^pyproject\.toml$|^uv\.lock$'
        pass_filenames: false

Enable "Missing return type annotation for special method"
  mcstatus/address.py
  mcstatus/bedrock_status.py
  mcstatus/legacy_status.py
  mcstatus/protocol/connection.py
  mcstatus/server.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Enable "Exception raised within try-except should use `raise from exc`"
  mcstatus/address.py
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/pinger.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Revert "Enable "Unnecessary assignment to a variable before `return` statement""
  mcstatus/dns.py
  mcstatus/server.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Remove `tool.ruff.lint.flake8-implicit-str-concat`
  pyproject.toml
Due: uv-lockfile

Fix formatter settings
  pyproject.toml
Due: uv-lockfile

Enable more ruff rules (#1110)
  mcstatus/address.py
  mcstatus/bedrock_status.py
  mcstatus/legacy_status.py
  mcstatus/motd/__init__.py
  mcstatus/motd/components.py
  mcstatus/pinger.py
  mcstatus/protocol/connection.py
  mcstatus/server.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Remove init deprecations from transformer classes
  mcstatus/motd/__init__.py
  mcstatus/motd/_transformers.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Add tests for build-time _compat module injection
  pyproject.toml
  tests/responses/test_shared.py
  tests/test_compat.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

CLI: use `StatusResponse.as_dict()` in JSON command
  mcstatus/__main__.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

Added support for SLP on Beta 1.8 to 1.3 servers
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Updated docs to reflect Beta 1.3 compatibility
  README.md
  docs/api/basic.rst
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Syntax corrections
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Correction in basic.rst
  docs/api/basic.rst
Due: none

Applied Ruff formatting to legacy_client.py
  mcstatus/_protocol/legacy_client.py
Due: ruff, ruff-ruff, pyright

Addressing Pull Request Feedback
  docs/api/basic.rst
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Corrected docs to say Beta 1.8 instead of Beta 1.3
  README.md
  docs/api/basic.rst
Due: none

resolving error with basic.rst
  docs/api/basic.rst
Due: none

uv lock --refresh
  uv.lock
Due: uv-lockfile

checked using pre-commit
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Addressing Pull Request Feedback
  docs/api/basic.rst
Due: none

Support for Beta 1.8 to 1.3 servers
  README.md
  docs/api/basic.rst
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/legacy.py
Due: ruff, ruff-ruff, pyright

Fix CI status badge in README
  README.md
Due: none

Add tests for `LegacyClient.parse_response`
  tests/protocol/test_legacy_client.py
Due: ruff, ruff-ruff, pyright

CLI: improve how player sample is displayed
  mcstatus/__main__.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

Don't show "No players online" if there is no sample
  mcstatus/__main__.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

CLI: use `StatusResponse.as_dict()` in JSON command (#1102)
  mcstatus/__main__.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

Improve coverage
  .coveragerc
  mcstatus/_net/address.py
  mcstatus/_utils/deprecation.py
  mcstatus/responses/base.py
  pyproject.toml
  tests/motd/test_components.py
  tests/motd/test_simplifies.py
  tests/motd/test_transformers.py
  tests/net/test_address.py
  tests/responses/test_base.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_query.py
  tests/test_cli.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Revert change of `BaseStatusResponse.description` alias
  mcstatus/responses/base.py
  tests/responses/test_bedrock.py
Due: ruff, ruff-ruff, pyright

Use proper regex for `if TYPE_CHECKING`
  .coveragerc
Due: none

Fix CI status badge in README (#1119)
  README.md
Due: none

Add tests for `LegacyClient.parse_response` (#1120)
  tests/protocol/test_legacy_client.py
Due: ruff, ruff-ruff, pyright

CLI: improve how player sample is displayed (#1121)
  mcstatus/__main__.py
  tests/test_cli.py
Due: ruff, ruff-ruff, pyright

Move `Address.resolve_ip` cache tests to a separate tests
  tests/net/test_address.py
Due: ruff, ruff-ruff, pyright

Escape all dots in patterns
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_query.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Make raw response part of parametrization
  tests/responses/test_forge_data.py
Due: ruff, ruff-ruff, pyright

Improve coverage (#1122)
  .coveragerc
  mcstatus/_net/address.py
  mcstatus/_utils/deprecation.py
  pyproject.toml
  tests/motd/test_components.py
  tests/motd/test_simplifies.py
  tests/motd/test_transformers.py
  tests/net/test_address.py
  tests/responses/test_base.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_query.py
  tests/test_cli.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright, uv-lockfile
