Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml # For pyproject.toml
      - id: check-yaml # For workflows
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml

  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        description: Run ruff checks on the code
        entry: ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: ruff-ruff
        name: Ruff Formatter
        description: Ruf ruff auto-formatter
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: pyright
        name: Pyright
        description: Run pyright type checker
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false # pyright runs for the entire project, it can't run for single files

  - repo: local
    hooks:
      - id: uv-lockfile
        name: UV Lockfile
        description: Check if the UV lockfile is up to date with pyproject.toml
        entry: uv lock --check
        language: system
        files: '^pyproject\.toml$|^uv\.lock$'
        pass_filenames: false

Add the devops area label for CI action dep bumps
  .github/dependabot.yml
Due: none

Replace deprecated asyncio.iscoroutinefunction
  mcstatus/utils.py
Due: ruff, ruff-ruff, pyright

Consider falsely value as value when parsing Forge's `modid`
  mcstatus/forge_data.py
  mcstatus/utils.py
  tests/responses/test_forge_data.py
  tests/test_utils.py
Due: ruff, ruff-ruff, pyright

Rewrite `or_none` to accept arbitrary number of arguments
  mcstatus/utils.py
Due: ruff, ruff-ruff, pyright

Improve tests
  tests/test_utils.py
Due: ruff, ruff-ruff, pyright

Consider falsely value as value when parsing Forge's `modid` (#1051)
  mcstatus/forge_data.py
  mcstatus/utils.py
  tests/responses/test_forge_data.py
  tests/test_utils.py
Due: ruff, ruff-ruff, pyright

Support pre-1.7 Java servers
  README.md
  docs/api/basic.rst
  docs/api/internal.rst
  mcstatus/__init__.py
  mcstatus/__main__.py
  mcstatus/legacy_status.py
  mcstatus/responses.py
  mcstatus/server.py
  tests/responses/test_legacy.py
  tests/test_cli.py
  tests/test_legacy_status.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Fix venv activation docs for Windows
  docs/pages/contributing.rst
Due: none

Drop Python 3.9
  .github/workflows/unit-tests.yml
  pyproject.toml
  tests/test_cli.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

`typing_extensions.TypeAlias` -> `typing.TypeAlias`
  mcstatus/__main__.py
  mcstatus/motd/components.py
  mcstatus/protocol/connection.py
  mcstatus/responses.py
Due: ruff, ruff-ruff, pyright

`uv lock --refresh`
  uv.lock
Due: uv-lockfile

Fix venv activation docs for Windows (#1058)
  docs/pages/contributing.rst
Due: none

Drop Python 3.9 (#1060)
  .github/workflows/unit-tests.yml
  mcstatus/__main__.py
  mcstatus/motd/components.py
  mcstatus/protocol/connection.py
  mcstatus/responses.py
  pyproject.toml
  tests/test_cli.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Specify dependency versions using `~=` instead of `>=`
  pyproject.toml
  uv.lock
Due: uv-lockfile

Add Python 3.14 support
  .github/workflows/publish.yml
  .github/workflows/unit-tests.yml
  .github/workflows/validation.yml
  pyproject.toml
Due: uv-lockfile

Update pyright
  pyproject.toml
  uv.lock
Due: uv-lockfile

`uv lock --upgrade-package pydantic`
  uv.lock
Due: uv-lockfile

Add `fallback-version` for `uv-dynamic-versioning`
  pyproject.toml
Due: uv-lockfile

Clean up docs, make ping more consistent, and update to Python 3.10 syntax
  docs/api/basic.rst
  mcstatus/legacy_status.py
  mcstatus/server.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Fix sync latency and add minimum version to docs
  README.md
  docs/api/basic.rst
  mcstatus/legacy_status.py
Due: ruff, ruff-ruff, pyright

Fix review comments
  mcstatus/__main__.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Support pre-1.7 Java servers (#1059)
  README.md
  docs/api/basic.rst
  docs/api/internal.rst
  mcstatus/__init__.py
  mcstatus/__main__.py
  mcstatus/legacy_status.py
  mcstatus/responses.py
  mcstatus/server.py
  tests/responses/test_legacy.py
  tests/test_cli.py
  tests/test_legacy_status.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Update asyncio-dgram to 3.0.0
  uv.lock
Due: uv-lockfile

Validate dependency versioning in dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Due: none

Fix `coverage` versioning
  pyproject.toml
  uv.lock
Due: uv-lockfile

Replace dependabot's config with renovate
  .github/dependabot.yml
  .github/renovate.json5
Due: none

Configure renovate
  .github/renovate.json5
Due: none

Remove `semanticPrefixFixDepsChoreOthers`
  .github/renovate.json5
Due: none

Delete .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Automerge using PR
  .github/renovate.json5
Due: none

Add back `renovate-auto-approve` CI
  .github/workflows/renovate-auto-approve.yml
Due: none
