Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

ruff:
  name: Ruff Linter
  description: Run ruff checks on the code
  entry: ruff check --force-exclude
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-ruff:
  name: Ruff Formatter
  description: Ruf ruff auto-formatter
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: Pyright
  description: Run pyright type checker
  entry: pyright
  language: system
  pass_filenames: false

uv-lockfile:
  name: UV Lockfile
  description: Check if the UV lockfile is up to date with pyproject.toml
  entry: uv lock --check
  language: system
  pass_filenames: false

Ban `typing_extensions` at module level (#1020)
  pyproject.toml
Due: uv-lockfile

Add `.python-version` to `.gitignore`
  .gitignore
Due: none

Introduce uv-dynamic-versioning
  pyproject.toml
  uv.lock
Due: uv-lockfile

Add project script for mcstatus cli.
  pyproject.toml
Due: uv-lockfile

Fetch version using `uv pip list` in docs
  docs/conf.py
Due: ruff, ruff-ruff, pyright

Remove unused import
  docs/conf.py
Due: ruff, ruff-ruff, pyright

Add project script for mcstatus cli. (#1024)
  pyproject.toml
Due: uv-lockfile

Revert "Update pytest-asyncio requirement (#1025)"
  pyproject.toml
Due: uv-lockfile

Revert "Update docutils requirement from <0.21,>=0.18.1 to >=0.18.1,<0.23 (#1026)"
  pyproject.toml
Due: uv-lockfile

Change `package-ecosystem` from pip to uv in dependabot
  .github/dependabot.yml
Due: none

Change `package-ecosystem` from pip to uv in dependabot (#1027)
  .github/dependabot.yml
  pyproject.toml
Due: uv-lockfile

Fix pre-commit restore key in CI
  .github/workflows/validation.yml
Due: none

Fix type errors
  tests/responses/__init__.py
Due: ruff, ruff-ruff, pyright

Remove useless fmt: skip comment
  mcstatus/bedrock_status.py
Due: ruff, ruff-ruff, pyright

Update wiki.vg refs to minecraft.wiki
  README.md
  mcstatus/__main__.py
  mcstatus/bedrock_status.py
  mcstatus/motd/__init__.py
  tests/motd/test_motd.py
Due: ruff, ruff-ruff, pyright

Remove `Make sure pyproject.toml version matches git version` step
  .github/workflows/publish.yml
Due: none

Annotate `BaseResponseTest.build` with `BaseStatusResponse`
  tests/responses/__init__.py
Due: ruff, ruff-ruff, pyright

Use `importlib.metadata.version` for getting mcstatus' version
  docs/conf.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Return `project.scripts` in pyproject
  pyproject.toml
Due: uv-lockfile

Remove unused imports from docs conf script
  docs/conf.py
Due: ruff, ruff-ruff, pyright

Introduce uv-dynamic-versioning (#1023)
  .github/workflows/publish.yml
  docs/conf.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Publish to Test PyPI with every commit to main
  .github/workflows/publish.yml
  pyproject.toml
  uv.lock
Due: uv-lockfile

Publish to Test PyPI with every commit to main (#1042)
  .github/workflows/publish.yml
  pyproject.toml
  uv.lock
Due: uv-lockfile

Fix publish CI branch name (main->master)
  .github/workflows/publish.yml
Due: none

Fix publish CI branch name (main->master) (#1043)
  .github/workflows/publish.yml
Due: none

Disable metadata for uv-dynamic-versioning
  pyproject.toml
Due: uv-lockfile

Disable metadata for uv-dynamic-versioning (#1044)
  pyproject.toml
Due: uv-lockfile

fixed a TypeError caused by certain privacy server plugins
  mcstatus/responses.py
Due: ruff, ruff-ruff, pyright

Change type
  mcstatus/responses.py
Due: ruff, ruff-ruff, pyright

Add a test
  tests/responses/test_java.py
Due: ruff, ruff-ruff, pyright

Fix CI
  mcstatus/responses.py
Due: ruff, ruff-ruff, pyright

Fix TypeError when `RawJavaStatusPlayers.sample` is None (#1045)
  mcstatus/responses.py
  tests/responses/test_java.py
Due: ruff, ruff-ruff, pyright

Update renamed label names in dependabot config
  .github/dependabot.yml
Due: none

Add the devops area label for CI action dep bumps
  .github/dependabot.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-ruff: any of: \.py$
  pyright: any of: \.py$
  uv-lockfile: any of: ^pyproject\.toml$|^uv\.lock$
