Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml # For pyproject.toml
      - id: check-yaml # For workflows
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml

  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        description: Run ruff checks on the code
        entry: ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: ruff-ruff
        name: Ruff Formatter
        description: Ruf ruff auto-formatter
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: pyright
        name: Pyright
        description: Run pyright type checker
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false # pyright runs for the entire project, it can't run for single files

  - repo: local
    hooks:
      - id: uv-lockfile
        name: UV Lockfile
        description: Check if the UV lockfile is up to date with pyproject.toml
        entry: uv lock --check
        language: system
        files: '^pyproject\.toml$|^uv\.lock$'
        pass_filenames: false

Move coveragerc config to pyproject.toml
  .coveragerc
  pyproject.toml
Due: uv-lockfile

Include some additional coverage settings
  pyproject.toml
Due: uv-lockfile

Clean up ping-as-java-and-bedrock example
  docs/examples/code/ping_as_java_and_bedrock_in_one_time.py
Due: ruff, ruff-ruff, pyright

Enable ruff preview rules
  docs/conf.py
  mcstatus/__main__.py
  mcstatus/_protocol/query_client.py
  mcstatus/_utils/deprecation.py
  mcstatus/motd/_simplifies.py
  mcstatus/motd/components.py
  mcstatus/responses/forge.py
  pyproject.toml
  tests/motd/test_simplifies.py
  tests/protocol/test_timeout.py
  tests/test_cli.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Use asyncio-mode=auto for pytest
  pyproject.toml
  tests/net/test_address.py
  tests/protocol/test_base_io.py
  tests/protocol/test_bedrock_client.py
  tests/protocol/test_java_client_async.py
  tests/protocol/test_timeout.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Move motd/__init__.py to motd/_motd.py
  mcstatus/motd/_motd.py
Due: ruff, ruff-ruff, pyright

Disallow having code in __init__.py (RUF067)
  mcstatus/motd/__init__.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Drop 13.x deprecations
  mcstatus/_compat/motd_transformers.py
  mcstatus/_compat/status_response.py
  mcstatus/responses/bedrock.py
  mcstatus/responses/query.py
  pyproject.toml
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Drop 13.x deprecations (#1149)
  mcstatus/_compat/motd_transformers.py
  mcstatus/_compat/status_response.py
  mcstatus/responses/bedrock.py
  mcstatus/responses/query.py
  pyproject.toml
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Remove duplicated import
  mcstatus/motd/_transformers.py
Due: ruff, ruff-ruff, pyright

Motd.parse: skip element if it is an empty string
  mcstatus/motd/_motd.py
  mcstatus/motd/_simplifies.py
  tests/motd/test_motd.py
  tests/motd/test_simplifies.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Fix ruff error
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Motd.parse: skip element if it is an empty string (#1166)
  mcstatus/motd/_motd.py
  mcstatus/motd/_simplifies.py
  tests/motd/test_motd.py
  tests/motd/test_simplifies.py
Due: ruff, ruff-ruff, pyright

Use MOTD string when testing bedrock output
  mcstatus/motd/_motd.py
  tests/motd/conftest.py
  tests/motd/test_motd_parse.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Fix `property-docstring-starts-with-verb`
  mcstatus/_protocol/io/buffer.py
Due: ruff, ruff-ruff, pyright

Use MOTD string when testing bedrock output (#1171)
  mcstatus/motd/_motd.py
  tests/motd/conftest.py
  tests/motd/test_motd_parse.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Ignore tests coverage on `t.TYPE_CHECKING` lines
  pyproject.toml
Due: uv-lockfile

Fix "Class-scoped fixture defined as instance method is deprecated"
  tests/motd/test_transformers.py
  tests/protocol/test_connection.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_legacy.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

motd: separate parsing colors logic for java and bedrock
  mcstatus/motd/_motd.py
  mcstatus/motd/_simplifies.py
  mcstatus/motd/_transformers.py
  mcstatus/motd/components.py
  tests/motd/test_motd_parse.py
  tests/motd/test_simplifies.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

Fix "Class-scoped fixture defined as instance method is deprecated" (#1174)
  tests/motd/test_transformers.py
  tests/protocol/test_connection.py
  tests/responses/test_bedrock.py
  tests/responses/test_forge_data.py
  tests/responses/test_java.py
  tests/responses/test_legacy.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

Ignore tests coverage on `t.TYPE_CHECKING` lines (#1175)
  pyproject.toml
Due: uv-lockfile

motd: separate parsing colors logic for java and bedrock (#1176)
  mcstatus/motd/_motd.py
  mcstatus/motd/_simplifies.py
  mcstatus/motd/_transformers.py
  mcstatus/motd/components.py
  tests/motd/test_motd_parse.py
  tests/motd/test_simplifies.py
  tests/motd/test_transformers.py
Due: ruff, ruff-ruff, pyright

motd: ignore invalid formattings
  mcstatus/motd/_motd.py
  mcstatus/motd/_transformers.py
  mcstatus/motd/components.py
  tests/motd/conftest.py
  tests/motd/test_motd_parse.py
  tests/motd/test_transformers.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Drop default values for `bedrock` argument in transformers
  mcstatus/motd/_transformers.py
Due: ruff, ruff-ruff, pyright

Add docstring
  mcstatus/motd/components.py
Due: ruff, ruff-ruff, pyright

motd: ignore invalid formattings (#1179)
  mcstatus/motd/_motd.py
  mcstatus/motd/_transformers.py
  mcstatus/motd/components.py
  tests/motd/conftest.py
  tests/motd/test_motd_parse.py
  tests/motd/test_transformers.py
  uv.lock
Due: ruff, ruff-ruff, pyright, uv-lockfile

Drop default values for `bedrock` argument in transformers (#1180)
  mcstatus/motd/_transformers.py
Due: ruff, ruff-ruff, pyright

Resolve CI failure
  docs/conf.py
  docs/examples/code/ping_as_java_and_bedrock_in_one_time.py
  mcstatus/__main__.py
  mcstatus/_net/address.py
  mcstatus/_net/dns.py
  mcstatus/_protocol/io/base_io.py
  mcstatus/_protocol/io/buffer.py
  mcstatus/_protocol/io/connection.py
  mcstatus/_protocol/java_client.py
  mcstatus/_protocol/query_client.py
  mcstatus/_utils/retry.py
  mcstatus/motd/_motd.py
  mcstatus/motd/_simplifies.py
  mcstatus/motd/_transformers.py
  mcstatus/motd/components.py
  mcstatus/responses/bedrock.py
  mcstatus/responses/forge.py
  mcstatus/responses/java.py
  mcstatus/responses/legacy.py
  mcstatus/server.py
  pyproject.toml
  tests/motd/test_transformers.py
  tests/protocol/helpers.py
  tests/protocol/test_timeout.py
  tests/test_cli.py
  tests/test_compat.py
  tests/test_server.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright, uv-lockfile

Support IPv6 DNS resolution
  mcstatus/_net/dns.py
  tests/net/test_address.py
  tests/net/test_dns.py
Due: ruff, ruff-ruff, pyright

Don't block DNS resolution on slow/faulty IPv6
  mcstatus/_net/dns.py
Due: ruff, ruff-ruff, pyright
