Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

ruff:
  name: Ruff Linter
  description: Run ruff checks on the code
  entry: ruff check --force-exclude
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

ruff-ruff:
  name: Ruff Formatter
  description: Ruf ruff auto-formatter
  entry: ruff format
  language: system
  require_serial: true

pyright:
  name: Pyright
  description: Run pyright type checker
  entry: pyright
  language: system
  pass_filenames: false

uv-lockfile:
  name: UV Lockfile
  description: Check if the UV lockfile is up to date with pyproject.toml
  entry: uv lock --check
  language: system
  pass_filenames: false

`uv lock --refresh`
  uv.lock
Due: uv-lockfile

Rework protocol IO, add Buffer abstraction & fix socket write issues
  mcstatus/_protocol/io/__init__.py
  mcstatus/_protocol/io/base_io.py
  mcstatus/_protocol/io/buffer.py
  mcstatus/_protocol/io/connection.py
  mcstatus/_protocol/java_client.py
  mcstatus/_protocol/legacy_client.py
  mcstatus/_protocol/query_client.py
  mcstatus/responses/forge.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Fix broken tests, after v13 automatic deprecation removals
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright

Fetch tags in tests CI
  .github/workflows/unit-tests.yml
Due: none

Also fetch all commits
  .github/workflows/unit-tests.yml
Due: none

Apply core review suggestion
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright

Exclude tests just for `@deprecated` decorator
  .coveragerc
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright

Separate `patch_project_version` into a shared fixture
  tests/conftest.py
  tests/test_compat.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Revert "Exclude tests just for `@deprecated` decorator"
  .coveragerc
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

Patch project version in `test_deprecated_*_alias`
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

Don't fetch tags in CI
  .github/workflows/unit-tests.yml
Due: none

Change `patch_project_version` from fixture to context manager
  tests/conftest.py
  tests/helpers.py
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Squash `test_deprecated_import_path_raises` and `..._warns`
  tests/test_compat.py
Due: ruff, ruff-ruff, pyright

Make tests not tag aware (#1133)
  tests/helpers.py
  tests/responses/test_bedrock.py
  tests/responses/test_query.py
  tests/test_compat.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Assert docstring has deprecation info when @deprecated
  mcstatus/_utils/deprecation.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Assert docstring has deprecation info when @deprecated (#1135)
  mcstatus/_utils/deprecation.py
  tests/utils/test_deprecation.py
Due: ruff, ruff-ruff, pyright

Fix minor typing inconsistencies
  mcstatus/__main__.py
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/java.py
Due: ruff, ruff-ruff, pyright

Fix minor typing inconsistencies (#1139)
  mcstatus/__main__.py
  mcstatus/_protocol/legacy_client.py
  mcstatus/responses/java.py
Due: ruff, ruff-ruff, pyright

Migrate to main primary branch
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

Migrate to main primary branch (#1140)
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

Rework protocol IO, add Buffer abstraction & fix socket write issues
  mcstatus/_protocol/connection.py
  mcstatus/_protocol/io/__init__.py
  mcstatus/_protocol/io/base_io.py
  mcstatus/_protocol/io/buffer.py
  mcstatus/_protocol/io/connection.py
  mcstatus/_protocol/java_client.py
  mcstatus/_protocol/legacy_client.py
  mcstatus/_protocol/query_client.py
  mcstatus/responses/forge.py
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Fix StructFormat.CHAR type & explicitly test it
  mcstatus/_protocol/io/base_io.py
  tests/protocol/test_base_io.py
Due: ruff, ruff-ruff, pyright

Rename io_type to conn_cls in tests
  tests/protocol/test_base_io.py
Due: ruff, ruff-ruff, pyright

Disable bytes promotions & use bytes instead of bytearray
  mcstatus/_protocol/io/connection.py
  mcstatus/responses/forge.py
  pyproject.toml
Due: ruff, ruff-ruff, pyright, uv-lockfile

Reject negative lengths
  mcstatus/_protocol/io/base_io.py
  mcstatus/_protocol/io/buffer.py
  tests/protocol/test_base_io.py
  tests/protocol/test_connection.py
Due: ruff, ruff-ruff, pyright

Remove str write suport with auto encode
  mcstatus/_protocol/io/connection.py
  tests/protocol/helpers.py
Due: ruff, ruff-ruff, pyright

Remove getattr + iscoro test for async connections
  tests/protocol/test_async_support.py
Due: ruff, ruff-ruff, pyright

Reject overlong varuint encodings during read
  mcstatus/_protocol/io/base_io.py
  tests/protocol/test_base_io.py
Due: ruff, ruff-ruff, pyright

Fix some coverage issues
  .coveragerc
  mcstatus/_protocol/io/base_io.py
Due: ruff, ruff-ruff, pyright

Add tests for new IO implementation
  tests/protocol/helpers.py
  tests/protocol/test_async_support.py
  tests/protocol/test_base_io.py
  tests/protocol/test_base_io_twos_complement.py
  tests/protocol/test_connection.py
  tests/protocol/test_java_client.py
  tests/protocol/test_java_client_async.py
  tests/protocol/test_legacy_client.py
  tests/protocol/test_query_client.py
  tests/protocol/test_query_client_async.py
  tests/protocol/test_timeout.py
  tests/test_server.py
  tests/utils/test_retry.py
Due: ruff, ruff-ruff, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-ruff: any of: \.py$
  pyright: any of: \.py$
  uv-lockfile: any of: ^pyproject\.toml$|^uv\.lock$
