Repository py-mine/mcstatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-ruff, pyright, uv-lockfile

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml # For pyproject.toml
      - id: check-yaml # For workflows
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml

  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        description: Run ruff checks on the code
        entry: ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
        args: [--fix, --exit-non-zero-on-fix]

  - repo: local
    hooks:
      - id: ruff-ruff
        name: Ruff Formatter
        description: Ruf ruff auto-formatter
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: pyright
        name: Pyright
        description: Run pyright type checker
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false # pyright runs for the entire project, it can't run for single files

  - repo: local
    hooks:
      - id: uv-lockfile
        name: UV Lockfile
        description: Check if the UV lockfile is up to date with pyproject.toml
        entry: uv lock --check
        language: system
        files: '^pyproject\.toml$|^uv\.lock$'
        pass_filenames: false

Fix typo in bot username in codeowners
  .github/CODEOWNERS
Due: none

Remove unsupported py-mine-ci-bot from CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix typo in bot username in codeowners (#1005)
  .github/CODEOWNERS
Due: none

Update deprecation dates (#1004)
  mcstatus/responses.py
  mcstatus/status_response.py
Due: ruff, ruff-ruff, pyright

Add `as_dict` method to the query response class (#1003)
  mcstatus/responses.py
  tests/responses/test_query.py
Due: ruff, ruff-ruff, pyright

Fix #850 with doc expectations (#1002)
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Apply suggestion from PR
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Bump version to 12.0.0
  pyproject.toml
Due: uv-lockfile

Update uv.lock
  uv.lock
Due: uv-lockfile

Add suggestion from PR
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Add query_port to JavaServer init (#1001)
  mcstatus/__main__.py
  mcstatus/server.py
  tests/test_cli.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Bump version to 12.0.0 (#1006)
  pyproject.toml
  uv.lock
Due: uv-lockfile

Fix typo in job name in publish workflow
  .github/workflows/publish.yml
Due: none

Fix typo in job name in publish workflow (#1007)
  .github/workflows/publish.yml
Due: none

Add `workflow_dispatch` to the publish CI
  .github/workflows/publish.yml
Due: none

async_query() now uses query_port
  mcstatus/server.py
Due: ruff, ruff-ruff, pyright

Add a test
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Don't use deprecated properties in our CLI
  mcstatus/__main__.py
Due: ruff, ruff-ruff, pyright

Set `asyncio_default_fixture_loop` in pytest config to fix warning
  pyproject.toml
Due: uv-lockfile

Use query_port in async_query() calls (#1009)
  mcstatus/server.py
  tests/test_server.py
Due: ruff, ruff-ruff, pyright

Bump pyright to 1.1.400
  pyproject.toml
  uv.lock
Due: uv-lockfile

Fix locally running pyright fails
  docs/conf.py
Due: ruff, ruff-ruff, pyright

Set `asyncio_default_fixture_loop` in pytest config to fix warning (#1011)
  pyproject.toml
Due: uv-lockfile

Add `workflow_dispatch` to the publish CI (#1008)
  .github/workflows/publish.yml
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

Update publish.yml (#1013)
  .github/workflows/publish.yml
Due: none

Fix typo in publish workflow
  .github/workflows/publish.yml
Due: none

Fix typo in publish workflow (#1014)
  .github/workflows/publish.yml
Due: none

Don't use deprecated properties in our CLI (#1010)
  mcstatus/__main__.py
Due: ruff, ruff-ruff, pyright

Bump version to 12.0.1
  pyproject.toml
Due: uv-lockfile

Bump version to 12.0.1 (#1015)
  pyproject.toml
Due: uv-lockfile

Add `.python-version`
  .python_version
  uv.lock
Due: uv-lockfile

Move `typing_extensions` to `typing.TYPE_CHECKING` block in __main__.py
  mcstatus/__main__.py
Due: ruff, ruff-ruff, pyright

Bump version to v12.0.2
  pyproject.toml
  uv.lock
Due: uv-lockfile

Move `typing_extensions` to `typing.TYPE_CHECKING` block in __main__.py (#1018)
  mcstatus/__main__.py
Due: ruff, ruff-ruff, pyright

Bump version to v12.0.2 (#1019)
  pyproject.toml
  uv.lock
Due: uv-lockfile

Ban `typing_extensions` at module level
  pyproject.toml
Due: uv-lockfile

Expect `forgeData`/`modinfo` to be null
  mcstatus/responses.py
Due: ruff, ruff-ruff, pyright

Add a unit test
  mcstatus/responses.py
  tests/responses/conftest.py
  tests/responses/test_forge_data.py
Due: ruff, ruff-ruff, pyright

Expect `forgeData`/`modinfo` to be null (#1022)
  mcstatus/responses.py
  tests/responses/conftest.py
  tests/responses/test_forge_data.py
Due: ruff, ruff-ruff, pyright
